<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
      <a class="navbar-brand page-scroll" href="#page-top">
        {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
          {% endif %}
          <div>
            {% if site.black-favicon %}
            <img src="{{site.baseurl}}{{ site.black-favicon }}" alt=""> {% endif %} {{ site.title }}
          </div>
        </a>
    </div>
   
  </div>
</nav>
<!-- Intro Start -->

<header class="intro">
  <div class="intro-overlay"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
<h1>Binnenkort online</h1>
            <!-- <span class="intro-text">Binnenkort online</span> -->
            
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
